:root {
    --content-width: 45rem !important;
  }
  
  #article-head h1 {
    margin: 0 !important;
  }
  
  .home {
    .desc small {
      margin-top: -0.4rem;
      display: block;
      font-size: 0.9rem;
      text-align: center;
      font-weight: 600;
    }
  
    h1 {
      text-align: center;
      transition:
        transform 0.3s ease,
        color 0.3s ease,
        text-shadow 0.3s ease;
  
      &:hover {
        transform: scale3d(1.15, 1.15, 1.25) rotate3d(0, 0, 1, 1deg) skewX(5deg);
        -webkit-transform: scale3d(1.15, 1.15, 1.25) rotate3d(0, 0, 1, 1deg)
          skewX(5deg);
        color: var(--color-accent);
      }
  
      small {
        font-size: 1.2rem;
        color: var(--color-text-secondary);
        display: block;
        margin-top: 0px;
        font-weight: 800;
      }
    }
  
    blockquote {
      background-color: transparent;
      padding: 1px 19px;
  
      p {
        color: var(--color-text-secondary);
        margin: 0;
      }
    }
  
    details {
      width: 100%;
    }
  }
  
  .important a {
    position: relative;
    display: inline-block;
    overflow: hidden;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.621),
        rgba(255, 255, 255, 0)
      );
      transform: skewX(-20deg);
      animation: shining 3s linear infinite;
  
      @media print {
        display: none;
      }
  
      @media (prefers-color-scheme: dark) {
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0),
          #ababab40,
          rgba(255, 255, 255, 0)
        );
      }
    }
  
    @keyframes shining {
      0% {
        left: -100%;
      }
  
      50% {
        left: 100%;
      }
  
      100% {
        left: 100%;
      }
    }
  }
  
  .small table {
    width: max-content !important;
  }
  
  .cards ul {
    display: grid;
    margin: 0;
    padding: 0;
    min-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(320px, 4fr));
    gap: 10px;
  
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  
    li {
      list-style: none;
      text-align: center;
  
      p {
        margin: 0;
        height: 100%;
      }
    }
  
    a {
      display: flex;
      flex-direction: column;
      gap: 0 !important;
      height: 100%;
      width: 100%;
      background-color: var(--color-background-second);
      color: var(--color-text);
      text-decoration: none;
      text-align: left;
      padding: 18px 20px;
      color: var(--color-text-secondary);
      border-radius: 8px;
      font-weight: 500;
      transition:
        transform 0.3s ease,
        background-color 0.3s ease,
        text-decoration 0.3s ease,
        color 0.3s ease;
  
      &:hover {
        transform: scale(1.05);
        text-decoration: none;
        background-color: var(--color-background-mute);
      }
  
      &:active {
        transform: scale(0.9);
        text-decoration: none;
      }
  
      strong {
        margin: 0px !important;
        font-weight: 800;
        letter-spacing: 0 !important;
        font-size: 20px;
        color: var(--color-text);
  
        mark {
          text-decoration: none;
          margin-top: 5px;
          width: max-content;
          font-size: 10px;
          display: inline-block;
          vertical-align: top;
          border-radius: 4px;
          background-color: var(--color-accent-alpha);
  
          &:hover {
            transform: none;
          }
        }
      }
  
      mark {
        text-decoration: none;
        margin-top: 5px;
        border-radius: 8px;
        width: max-content;
        background-color: var(--color-accent-alpha);
  
        &:hover {
          transform: none;
        }
      }
    }
  
    .special a {
      background-color: var(--color-background-mute) !important;
  
      &:hover {
        background-color: var(--color-accent-alpha) !important;
      }
    }
  }
  
  @media screen and (max-width: 682px) {
    nav ul li a {
      white-space: nowrap;
    }
  
    .home h1 {
      font-size: 36px;
    }
  }
  
  @media screen and (max-width: 338px) {
    nav ul {
      width: 100%;
      overflow-y: auto;
    }
  }
  
  /* Other */
  
  a mark {
    text-decoration: underline;
    display: inline-block;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.2);
    }
  }
  
  blockquote {
    border-radius: 8px 25px 25px 8px !important;
  }
  
  footer {
    max-width: 663px !important;
  }
  
  blockquote {
    background-color: transparent !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.625rem 0 !important;
  }
  
  .edits {
    margin-top: 3rem;
    font-size: 0.9rem;
    color: var(--color-text-secondary);
    font-style: italic;
  }
  
  #statuscafe {
    padding: 0.5rem 1rem;
    background-color: var(--color-background-second);
    width: max-content;
    margin: 0 auto;
    border-radius: 10px;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;
  
    &:hover {
      background-color: var(--color-background-mute);
      transform: scale(1.05);
    }
  
    #statuscafe-username {
      color: var(--color-text-secondary);
  
      a {
        color: var(--color-accent);
        font-weight: 800;
      }
    }
  
    #statuscafe-content {
      margin: 0;
      color: var(--color-accent);
      font-style: italic;
    }
  }
  
  .wip-card a {
    background-image: linear-gradient(transparent, transparent),
      repeating-linear-gradient(
        45deg,
        #000,
        #000 10px,
        #ffdd00 10px,
        #ffdd00 17px
      );
    background-size:
      calc(100% - 1.56rem) 100%,
      1.56rem 100%;
    background-position:
      left center,
      right center;
    background-repeat: no-repeat;
  }
